<div class="container-fluid">
    <div class="col-12 align-self-cente border-dark mt-3">
        <h3 class="text-center">
            <span class="badge badge-primary " style="width: 500px; height: 40px; border-radius: 50px;">
                <p class="name mt-1 mb-1"> Thêm Sách </p>
            </span>
        </h3>
    </div>
</div>
<div class="container">
    <div class="card border-primary mb-3 mt-3">
        <form action="" method="POST" role="form">
            <div class="form-group row m-1 mb-0">
                <label for="manhomsach" class="col-sm-2 col-form-label"> Mã Nhóm Sách: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Manhomsach"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="manhomsach" class="col-sm-2 col-form-label"> Mã Thể Loại: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Matheloai"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="magiasach" class="col-sm-2 col-form-label"> Mã Giá Sách: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Magiasach"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="tensach" class="col-sm-2 col-form-label"> Tên Sách: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Tensach"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="tacgia" class="col-sm-2 col-form-label"> Tác Giả: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Tacgia"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="loaisach" class="col-sm-2 col-form-label"> Loại Sách: </label>
                <div class="radio">
                    <label><input type="radio" name="optradio" class="check ml-3 mr-3" value="Sách Chuyên Ngành"
                            [(ngModel)]="Tentheloai" [ngModelOptions]="{standalone: true}"> Sách Chuyên Ngành </label>
                    <label><input type="radio" name="optradio" class="check ml-3 mr-3"  value="Sách Đại Cương"
                            [(ngModel)]="Tentheloai" [ngModelOptions]="{standalone: true}"> Sách Đại Cương </label>
                    <label><input type="radio" name="optradio" class="check ml-3 mr-3" value="Tập Chí"
                            [(ngModel)]="Tentheloai" [ngModelOptions]="{standalone: true}"> Tập Chí </label>
                </div>
            </div>
            <hr />
            <!-- <div class="form-check ml-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"> Sách Chuyên Ngành</label>
                </div>
                <div class="form-check ml-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2"> Sách Đại Cương </label>
                </div>
                <div class="form-check ml-3">
                    <input type="checkbox" class="form-check-input" id="exampleCheck3">
                    <label class="form-check-label" for="exampleCheck3"> Tập Chí </label>
                </div> -->
            <!-- <div class="form-group row m-1 mb-0">
                <label for="songaymuon" class="col-sm-2 col-form-label"> Số Ngày Mượn: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Manhomsach" [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr /> -->
            <div class="form-group row m-1 mb-0">
                <label for="giatien" class="col-sm-2 col-form-label"> Giá Tiền: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Giatien"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group row m-1 mb-0">
                <label for="soluong" class="col-sm-2 col-form-label"> Số Lượng: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-white" [(ngModel)]="Soluong"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>
            <hr />
            <div class="form-group">
               <div  class="upload m-4">
                <app-upload (onUploadFinished)="uploadFinished($event)" ></app-upload>
               </div>   

              <div>
                <button type="button" class="btn btn-success pull-right mr-2 mb-2" (click)="add1()"> Xác Nhận </button>
              </div>
            </div>
        </form>
    </div>
</div>