<!-- <head>
	<link rel="stylesheet" href="animate.min.css">
</head> -->
  
<div class="container ">
	<div>
		<h4  disabled>Danh sách cho mượn</h4>
	</div>
	<div class="row ">

		<div class="col ">
			<div class="panel panel-primary border border-primary">

				<table class="table table-hover table-striped" style="border-color: darkblue;" id="dev-table">
					<thead class="thead-light">
						<tr>
							<th>#</th>
							<th>Mã sách</th>
							<th>Mã thẻ</th>
							<th>Tên sách</th>
							<th>Ngày mượn</th>
							<th>Ngày hết hạn</th>
							<th>Quá hạn</th>

							<th>Trả
								<span class=" clickable filter" data-toggle="tooltip" title="Toggle table filter"
									data-container="body">
									<i class="glyphicon glyphicon-filter"></i>
								</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor=" let item of chomuons; let i = index">
							<td>{{i + 1}}</td>
							<td>{{item.Masach}}</td>
							<td>{{item.Mathe}}</td>
							<td>{{item.Tensach}}</td>
							<td>{{item.Ngaymuon}}</td>
							<td>{{item.Ngayhethan}}</td>
							<td> Ngày</td>

							<td>
								<input class="btn btn-tra" type="button" *ngIf="item.Datra" value="Đã trả" style="background-color:green ;" disabled>
								<input class="btn btn-tra" type="button" *ngIf="!item.Datra" value="Chưa trả" style="background-color : red" 
										data-toggle="modal" data-target="#xacnhanModel" (click)="onClickDatra(item)">	
								  <!-- Modal: modalPoll -->

								<div class="modal fade right" id="xacnhanModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true" data-backdrop="false">
									<div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
									  <div class="modal-content">
										<!--Header-->
										<div class="modal-header">
										  <strong class="heading lead white-text">Xác nhận tình trạng sách</strong>
								  
										  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span class="white-text">×</span>
										  </button>
										</div>
								  
										<!--Body-->
										<div class="modal-body">
											<div class="text-center">
												<i class="fa fa-file-text fa-4x mb-3 animated rotateIn" aria-hidden="true"></i>
											</div>
									
											<hr>
											
											<!-- Radio -->
											<div class="form-group">
												<label for="my-input">Mã thẻ</label>
												<input id="my-input" class="form-control" type="text" [(ngModel)]="this.mathe" [ngModelOptions]="{standalone: true}" disabled>
											</div>

											<div class="form-group">
												<label for="my-input">Tên sách</label>
												<input id="my-input" class="form-control" type="text" [(ngModel)]="this.tensach" [ngModelOptions]="{standalone: true}" disabled>
											</div>

											<label for="my-input">Tình trạng sách: </label>
											<div class="card">
												<div class="form-check mb-4">
													<input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
													<label class="form-check-label" for="radio-179">Rất tốt</label>
												</div>
										
												<div class="form-check mb-4">
													<input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
													<label class="form-check-label" for="radio-279">Có hư hại (hoặc mất)</label>
												</div>												
											</div>
											<!-- Radio -->
										</div>
								  
										<!--Footer-->
										<div class="modal-footer justify-content-center">
											<button type="button" class="btn btn-primary waves-effect waves-light" (click)="onXacnhanTinhtrang()"
													data-toggle="modal" data-target="#modalConfirmDelete">Save
												<i class="fa fa-paper-plane ml-1"></i>
											</button>

											<button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cancel</button>
											
											<!--Modal: modalConfirmDelete-->
											<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
												<div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
													<!--Content-->
													<div class="modal-content text-center">
													<!--Header-->
													<div class="modal-confirm-header d-flex justify-content-center">
														<p class="heading white-text">Are you sure?</p>
													</div>

													<!--Body-->
													<div class="modal-confirm-body">

														<i class="fa fa-spinner fa-4x animated rotateIn"></i>

													</div>

													<!--Footer-->
													<div class="modal-confirm-footer flex-center">
														<a class="btn btn-success">Yes</a>
														<a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No</a>
													</div>
													</div>
													<!--/.Content-->
												</div>
											</div>
											
										</div>
									  </div>
									</div>
								  </div>
								  <!-- Modal: modalPoll -->		
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<!-- <app-footer></app-footer> -->
<!-- <script>
    function myfunction(){
        document.getElementById("btn-tra").style.background = 'red';
    }
</script> -->