<div class="container-fluid">

    <div class="container">
        <div class="row m-5">
            <div class="col-sm-12 col-md-4">
                <div class="card mb-2">
                    <a>
                        <img class="card-img-top img-thumbnail" src="assets/anh/book1.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <div class="row align-self-center">
                            <div class="col">
                                <h4 class="card-title mb-2 name"> </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div *ngFor="let item of product " class="card border-info">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Mã Sách :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Manhomsach}}</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Mã Giá Sách :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Magiasach}}</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Tên Sách :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Tensach}}</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Tác Giả :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Tacgia}}</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Loại Sách :</h5>
                            </div>
                            <div class="col">
                                <a>Chuyên Ngành</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Số Ngày Mượn Tối Đa :</h5>
                            </div>
                            <div class="col">
                                <a>14 Ngày</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Số Tiền :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Giatien}}</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col">
                                <h5>Số Lượng :</h5>
                            </div>
                            <div class="col">
                                <a>{{item.Soluong}}</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" (click)="onAdddattruoc(item);openModal('custom-modal-2')">Đặt Trước</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<jw-modal id="custom-modal-2">
    <h1>Đạt trước thành công!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>