<!-- <style>
    .container-fluid {
        background-color: rgba(43, 74, 87, 0.568);
        height: 60px;
    }
</style>
<div class="container-fluid mt-3">
    <div>
        <p>foote</p> <i class="fas fa-cloud"></i></div>
</div>
<div class="container">
        <p>Others:</p>
        <i class="fas fa-cloud"></i>
        <i class="fas fa-coffee"></i>
        <i class="fas fa-car"></i>
        <i class="fas fa-file"></i>
        <i class="fas fa-bars"></i>
      </div> -->
      <!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Footer -->
<footer class="page-footer font-small  pt-4" style="background: rgb(93, 150, 216);">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">Footer Content</h5>
              <p>Here you can use rows and columns to organize your footer content.</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <p><i class="fa fa-envelope-open" aria-hidden="true"></i>
                    Email: admin@gmail.com
                </p>
                <p><i class="fa fa-tty" aria-hidden="true"></i>
                   SDT: 09068888888
                </p>
                <p><i class="fa fa-bandcamp" aria-hidden="true"></i>
                    Địa Chỉ: 196 Nguyễn Lương Bằng
                </p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->