<div class="container-fluid">
    <div class="col-12 align-self-cente border-dark mt-3">

        <h3 class="text-center">
            <span class="badge badge-primary" style="width: 500px; height: 40px; border-radius: 50px;">Giới Thiệu</span>
        </h3>
    </div>
</div>
<div class="container-fluid mt-3 mb-3">
    <div class="card border-info">
        <div class="card-body">
            <p>
                Thư viện LMS được thành lập với mục tiêu và nhiệm vụ hết sức quan trọng, đó là đưa người học đến gần với
                nguồn tài nguyên và dẫn lối người học vào con đường học tập, nghiên cứu trên bước đường chinh phục tri
                thức của mình.
            </p>
            <p>
                <strong>Chức năng :</strong>
            </p>
            <p>
                Thư viện phục vụ cho công các đào tạo và nghiên cứu khoa học trong đười sống; tổ chức thu thập, lưu trữ,
                bảo quản và khai thác tốt nguồn tài liệu phục vụ cho việc học tập, nghiên cứu của mọi người.

            </p>
            <p>
                <strong>Nhiệm Vụ</strong>
            </p>
            <p>
                - Quản lý, bảo quản, bổ sung tài liệu, phục vụ có hiệu quả cho công táchọc tập và nghiên cứu, tổ chức
                tốt công tác phục vụ độc giả. Tổ chức thông tin về các loại tài liệu phục vụ cho học tập và NCKH

            </p>
            <p>
                - Kiểm tra, đôn đốc bảo đảm thực hiện nghiêm túc nội quy Thư viện Phối hợp trong việc tổ chức biên dịch
                sách, báo và tài liệu phục vụ cho học tập và NCKH
            </p>
            <p>
                - Ứng dụng công nghệ mới trong hoạt động Thư viện nhầm nâng cao chất lượng phục vụ cho người đọc, kể cả
                việc tổ chức giới thiệu sách mới liên quan đến các lĩnh vực đa dạng trong đời sống.
            </p>
            <p>
                <strong>Định Hướng Phát Triển</strong>
            </p>
            <p>
                Thư viện LMS đã, đang và sẽ phấn đấu không ngừng để trở thành nơi lưu truyền tri thức và khơi nguồn
                cảm hứng thực sự tin cậy, thân thiện của bạn đọc, có uy tín và vị thế xứng đáng trong cộng đồng
                thư viện Việt Nam, khu vực và thế giới.
            </p>
        </div>
    </div>
</div>