<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                            <h3>Change Password Form</h3>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal">
                            <fieldset>

                            <!-- Form Name -->
                                <!-- <legend>Change Password</legend> -->

                                <!-- Password input-->
                                <div class="form-group">
                                <label class="col-md-4 control-label" for="piCurrPass">Old Password</label>
                                <div class="col-md-4">
                                    <input id="piCurrPass" name="piCurrPass" type="password" placeholder="Enter Old Password" class="form-control input-md" required="">
                                    
                                </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                <label class="col-md-4 control-label" for="piNewPass">New Password</label>
                                <div class="col-md-4">
                                    <input id="piNewPass" name="piNewPass" type="password" placeholder="Enter New Password" class="form-control input-md" required="">
                                    
                                </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                <label class="col-md-4 control-label" for="piNewPassRepeat">Confirm New Password</label>
                                <div class="col-md-4">
                                    <input id="piNewPassRepeat" name="piNewPassRepeat" type="password" placeholder="Enter Confirm New Password" class="form-control input-md" required="">
                                    
                                </div>
                                </div>

                                <!-- Button (Double) -->
                                <div class="form-group">
                                <label class="col-md-4 control-label" for="bCancel"></label>
                                <div class="col-md-8">
                                    <button id="bCancel" name="bCancel" class="btn btn-danger">Cancel</button>
                                    <button id="bGodkend" name="bGodkend" class="btn btn-success m-4 ">Accect</button>
                                </div>
                                </div>

                            </fieldset>
                        </form>
</div>
</div>

</div>
</div>
</body>
