<div class="product-grid9">
    <div class="product-image9">
        <a href="#">
            <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-1.jpg">
            <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo6/images/img-2.jpg">
        </a>
        <a href="#" class="fa fa-search product-full-view"></a>
    </div>
    <div class="product-content">
        <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
        </ul>
        <h3 class="title"><a href="#">Women's Top</a></h3>
        <div class="price"> $12.60 - $40.53</div>
        <a class="add-to-cart" href="">VIEW PRODUCTS</a>
    </div>
</div>
