<div class="container-fluid">
        <div class="col-12 align-self-cente border-dark mt-3">
        <h3 class="text-center">
            <span class="badge badge-primary" style="width: 500px; height: 50px;">Thông Tin</span>
        </h3>
    </div>
</div>
<br>
<div class="container">
    <div class="card border-primary mb-3 mt-3">
        <form class="form m-4">
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Mã Thẻ: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="email@example.com" />
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Mật Khẩu</label>
                <div class="col-sm-10">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control mr-2" id="exampleInputPassword1"
                            placeholder="Password" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-block btn-light bg-info ml-2" type="button" id="button-addon2"> Đổi
                                Mật Khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Mã Thẻ: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="name" value="hoang cho" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Giới Tính: </label>
                <div class="radio">
                    <label><input type="radio" name="optradio" class="check ml-3 mr-3"> Nữ </label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" class="check ml-3 mr-3"> Nam </label>
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Ngày Sinh: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="12/12/1212" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Địa Chỉ: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="Nguyễn Lương Bằng" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Ngày Đang Ký: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="19/12/2019" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Ngày Hết Hạn: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="30/12/2019" />
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <label for="mathe" class="col-sm-2 col-form-label"> Loại Người Dùng: </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control bg-white" id="mathe" value="user" />
                </div>
            </div>
            <hr />
        </form>
    </div>

</div>