<div class="container-fluid">
</div>
<!-- table -->
<br><br>
<div class="table">
    <div >
        <h3 style="text-align: center;" >Sách đặt trước</h3>
    </div>
    <div class="widget-content">


        <table id="customers">
            <tr>
                <th>Mã Sách</th>
                <th>Tên sách</th>
                <th>Ngày Đặt</th>
                
            </tr>
            <tr *ngFor = "let item of products">
                <td>{{item.Manhomsach}}</td>
                <td>{{item.Matheloai}}</td>
                <td>{{item.Tensach}}</td>
            </tr>
        </table>
    </div> 
</div> 
<br><br>
<app-footer></app-footer>