<div class="container-fluid">
</div>
<!-- table -->
<br><br>
<div class="table">
    <div>
        <h3 style="text-align: center;">Sách đang mượn - Gia hạn sách</h3>
    </div>
    <br>
    <div class="widget-content">
        <table id="customers">
            <tr>
                <th style="text-align: center">Mã sách</th>
                <th style="text-align: center">Tên sách</th>
                <th style="text-align: center">Ngày mượn</th>
                <th style="text-align: center">Ngày trả</th>
                <th style="text-align: center">Gia hạn</th>
                <th style="text-align: center"></th>
            </tr>
            <ng-container *ngFor = "let item of phieumuon">
            <tr *ngIf="!item.Datra">
                <td style="text-align: center">{{item.Masach}}</td>
                <td style="text-align: center">{{item.Tensach}}</td>
                <td style="text-align: center">{{item.Ngaymuon}}</td>
                <td style="text-align: center">{{item.Ngayhethan}}</td>
                <td style="text-align: center">
                    <span *ngIf="item.Giahan" className="label label-success" >Đã gia hạn</span>
                    <span *ngIf="!item.Giahan" className="label label-success" >Chưa gia hạn</span>
                </td>  
                <td style="text-align: center"><button type="button" className="btn btn-danger" (click)="onGiahan(item)" [routerLink]="['/giahan']">
                        <span className="fa fa-trash mr-5"></span> Gia hạn </button></td>
            </tr>
            </ng-container>
        </table>
    </div>
</div>
<br><br>