<div class="container-fluid">
</div>
<!-- table -->
<br><br>
<div class="table">
    <div>
        <h3 style="text-align: center;">Sách đang mượn - Gia hạn sách</h3>
    </div>
    <br><br>
    <div class="widget-content">


        <table id="customers">
            <tr>
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Ngày mượn</th>
                <th>Ngày trả</th>
                <th>Gia hạn</th>
                <th></th>
            </tr>
            <tr>
                <td>Mã sách</td>
                <td>Tên sách</td>
                <td>Ngày mượn</td>
                <td>Ngày trả</td>
                <td style="text-align: center"><span className="label label-success">true</span></td>  
                <td style="text-align: center"><button type="button" className="btn btn-danger">
                        <span className="fa fa-trash mr-5"></span> Gia hạn </button></td>
            </tr>
            <tr>
                <td>Mã sách</td>
                <td>Tên sách</td>
                <td>Ngày mượn</td>
                <td>Ngày trả</td>
                <td style="text-align: center"><span className="label label-success">true</span></td> 
                <td style="text-align: center"><button type="button" className="btn btn-danger">
                        <span className="fa fa-trash mr-5"></span> Gia hạn </button></td>
            </tr>
            <tr>
                <td>Mã sách</td>
                <td>Tên sách</td>
                <td>Ngày mượn</td>
                <td>Ngày trả</td>
                <td style="text-align: center"><span className="label label-success">fals</span></td> 
                <td style="text-align: center"><button type="button" className="btn btn-danger">
                        <span className="fa fa-trash mr-5"></span> Gia hạn </button></td>
            </tr>
        </table>
    </div>
</div>
<br><br>