<div class="container-fluid">
    <div class="col-12 align-self-cente border-dark mt-3">
        <h3 class="text-center">
            <span class="badge badge-primary" style="width: 500px; height: 50px;">Nội Quy Phòng Đọc</span>
        </h3>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 pt-5">
            <a>
                <img src="assets/anh/anh4.jpg" style="width:500px;height:400px" />
            </a>
        </div>
        <div class="col-sm-12 col-md-8">
            <p>Để đảo bảo lợi ích chung trong công tác phục vụ, đề nghị tất cả các bạn đọc (cán bộ, viên chức, học
                viên cao học, nghiên cứu sinh, sinh viên) lưu ý các yêu cầu sau:</p>
            <p>
                <p>
                    1. Thời gian phục vụ: từ 07h30 đến 20h30 từ thứ 2 đến thứ 6; từ 07h30 đến 16h30 thứ 7, chủ nhật hàng
                    tuần.
                </p>
                <p>
                    2. Khi vào Thư viện, để các vật dụng cá nhân trong ngăn tủ bảo quản và xuất trình thẻ tại bà thủ thư
                    (không được sử dụng thẻ của người khác).
                </p>
                <p>
                    3. Không mang các thiết bị, vật liệu có thể gây cháy, nổ vào Thư viện.
                </p>
                <p>
                    4. Giữ yên lặng, vệ sinh chung trong khu vực Thư viện.
                </p>
                <p>
                    5. Có ý thức bảo quản mọi tài sản vật dụng chung của Thư viện (riêng sách, tài liệu, văn bản giấy
                    không được ghi chú, tẩy xóa, vẽ, làm rách, bẩn…).
                </p>
                <p>
                    6. Trong kho tự chọn giữ gìn, duy trì trật tự xếp đặt sách trên giá (không để sách của môn, loại này
                    lẫn vào sách của môn loại khác).
                </p>
                <p>
                    7. Không được mang ra khỏi Thư viện các tài liệu, sách báo, băng đĩa hay bất cứ vật dụng, tài sản
                    nào khác nếu chưa được phép của thủ thư. Thực hiện đúng các quy định của Thư viện khi mượn về nhà.
                </p>
                <p>
                    8. Trả tài lệu tại nơi quy định, nhận lại thẻ trước khi về.
                </p>
                <p>
                    9. Mọi trường hợp vi phạm sẽ xử lý theo các quy định của thư viện
                </p>
        </div>
    </div>
</div>
<div class="col-12 align-self-cente border-dark mt-3">
    <h3 class="text-center">
        <span class="badge badge-primary" style="width: 500px; height: 50px;">Quy Định Mượn Tài Liệu</span>
    </h3>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 pt-5">
            <a>
                <img src="assets/anh/12.jpg" style="width:500px;height:400px" />
            </a>
        </div>
        <div class="col-sm-12 col-md-8">
            <p>1. Thời gian mở cửa từ 7h00 đến 21h00.</p>

            <p>
                2. Thời gian phục vụ từ 7h30 đến 20h30 từ thứ 2 đến thứ 6 hàng tuần; từ 07h30 đến 17h00 thứ 7, chủ
                nhật hàng tuần.
            </p>
            <p>
                3. Thời hạn và số lượng mượn
            </p>
            <p> Thời hạn mượn:</p>
            <p>- Cán bộ giảng viên và sinh viên chính quy mượn 70 ngày</p>
            <p> Mỗi tài liệu được gia hạn 1 lần, 70 ngày</p>
            <p>Quá thời gian trên, xử phạt 1.000đ/ngày/tài liệu</p>
            <p>Đối với sách tham khảo, văn học (mượn tại tầng 1 và tầng 3 Thư viện Nhà trường)</p>
            <p>Thời hạn mượn:</p>
            <p>04 cuốn (không quá 02 cuốn văn học)</p>
            <p>Sách tham khảo, sách văn học mượn 15 ngày</p>
            <p>Mỗi tài liệu được gia hạn 07 ngày</p>
            <p>Mỗi tài liệu được gia hạn 07 ngày</p>
            <p>
                4. Bồi thường
            </p>
            <p> Sách tham khảo: </p>
            <p>Sách giáo trình:</p>
            <p>
                5. Xử lý vi phạm
            </p>
            <p> Mọi vi phạm đều phải chịu trách nhiệm với các hình thức xử lý theo quy định của thư viện. Riêng việc
                gây hư hỏng sách, tài liệu phải đền bù vật chất tùy theo giá trị tổn thất.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>